{% extends 'base.html' %}
{% load static from staticfiles %}


	{% block content %}
	
	<section>
		<div class="blog_page">
			<h1>Blog</h1>
			<div class="border-bottom my-3"></div>
		</div>
		<div class="login_page_area">
			<div class="container-fluid">
				<div class="about_us_contain blog_pages">
					<div class="blog_dropdown">
						<label>Categories</label><br>
						<select class="form-control">
							<option value="">US VISA APPLICATION GUIDELINES</option>
							<option value="">US VISA APPLICATION</option>
							<option value="">US VISA APPLICATION GUIDELINES</option>
							<option value="">US VISA APPLICATION</option>
						</select>
					</div>
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-6 col-12">
							<div class="row my-5">
								<a href="#">
									<div class="blog_product">
										<div>
											<img src="{% static '/assets/images/events_opening.png' %}" alt="events_opening" class="img-fluid">
										</div>
										<div class="blog_pd">
											<div class="d-flex block_date">
												<div class="blog_date mr-3">
													10/2017
												</div>
												<h5 class="blog_date_heading">
													US VISA APPLICATION GUIDELINES
												</h5>
											</div>
											<div class="blog_para">
												<p>
													StayConnect provides process support for visa for all countries across the globe. With a laser focus on customer experience and reliability, we provide expert consultation and reduce hassle by being the single point of contact inthe entire process. <span class="moretext">With the availability of online documentation, online payment and pick and drop off facility for your documents, you can trust us with your visa and prepare for your journey.</span>
												</p>
												<div class="my-3">
													<!-- <a href="#" id="ma_link" class="read_more">Read More</a> -->
													<button type="button" class="btn btn-dark read_more">Read More</button>
												</div>
											</div>
											<div class="d-flex justify-content-between">
												<div class="blog_cate">
													<label>Categroy:</label>
													<span>Passport Photo</span>
												</div>
												<div class="blog_cate">
													<label>Written by:</label>
													<span>Admin</span>
												</div>
											</div>
										</div>
									</div>
								</a>
								<a href="#">
									<div class="blog_product">
										<div>
											<img src="{% static '/assets/images/events_opening1.png' %}" alt="events_opening" class="img-fluid">
										</div>
										<div class="blog_pd">
											<div class="d-flex block_date">
												<div class="blog_date mr-3">
													10/2017
												</div>
												<h5 class="blog_date_heading">
													US VISA APPLICATION GUIDELINES
												</h5>
											</div>
											<div class="blog_para">
												<p>
													StayConnect provides process support for visa for all countries across the globe. With a laser focus on customer experience and reliability, we provide expert consultation and reduce hassle by being the single point of contact inthe entire process. <span class="moretext">With the availability of online documentation, online payment and pick and drop off facility for your documents, you can trust us with your visa and prepare for your journey.</span>
												</p>
												<div class="my-3">
													<button type="button" class="btn btn-dark read_more">Read More</button>

												</div>
											</div>
											<div class="d-flex justify-content-between">
												<div class="blog_cate">
													<label>Categroy:</label>
													<span>Passport Photo</span>
												</div>
												<div class="blog_cate">
													<label>Written by:</label>
													<span>Admin</span>
												</div>
											</div>
										</div>
									</div>
								</a>
								<a href="#">
									<div class="blog_product">
										<div>
											<img src="{% static '/assets/images/events_opening2.png' %}" alt="events_opening" class="img-fluid">
										</div>
										<div class="blog_pd">
											<div class="d-flex block_date">
												<div class="blog_date mr-3">
													10/2017
												</div>
												<h5 class="blog_date_heading">
													US VISA APPLICATION GUIDELINES
												</h5>
											</div>
											<div class="blog_para">
												<p>
													StayConnect provides process support for visa for all countries across the globe. With a laser focus on customer experience and reliability, we provide expert consultation and reduce hassle by being the single point of contact inthe entire process. <span class="moretext">With the availability of online documentation, online payment and pick and drop off facility for your documents, you can trust us with your visa and prepare for your journey.</span>
												</p>
												<div class="my-3">
													<button type="button" class="btn btn-dark read_more">Read More</button>
												</div>
											</div>
											<div class="d-flex justify-content-between">
												<div class="blog_cate">
													<label>Categroy:</label>
													<span>Passport Photo</span>
												</div>
												<div class="blog_cate">
													<label>Written by:</label>
													<span>Admin</span>
												</div>
											</div>
										</div>
									</div>
								</a>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 col-12">
							<div class="row my-5">
								<a href="#">
									<div class="blog_product">
										<div>
											<img src="{% static '/assets/images/events_opening3.png' %}" alt="events_opening" class="img-fluid">
										</div>
										<div class="blog_pd">
											<div class="d-flex block_date">
												<div class="blog_date mr-3">
													10/2017
												</div>
												<h5 class="blog_date_heading">
													US VISA APPLICATION GUIDELINES
												</h5>
											</div>
											<div class="blog_para">
												<p>
													StayConnect provides process support for visa for all countries across the globe. With a laser focus on customer experience and reliability, we provide expert consultation and reduce hassle by being the single point of contact inthe entire process. <span class="moretext">With the availability of online documentation, online payment and pick and drop off facility for your documents, you can trust us with your visa and prepare for your journey.</span>
												</p>
												<div class="my-3">
													<button type="button" class="btn btn-dark read_more">Read More</button>
												</div>
											</div>
											<div class="d-flex justify-content-between">
												<div class="blog_cate">
													<label>Categroy:</label>
													<span>Passport Photo</span>
												</div>
												<div class="blog_cate">
													<label>Written by:</label>
													<span>Admin</span>
												</div>
											</div>
										</div>
									</div>
								</a>
								<a href="#">
									<div class="blog_product">
										<div>
											<img src="{% static '/assets/images/events_opening2.png' %}" alt="events_opening" class="img-fluid">
										</div>
										<div class="blog_pd">
											<div class="d-flex block_date">
												<div class="blog_date mr-3">
													10/2017
												</div>
												<h5 class="blog_date_heading">
													US VISA APPLICATION GUIDELINES
												</h5>
											</div>
											<div class="blog_para">
												<p>
													StayConnect provides process support for visa for all countries across the globe. With a laser focus on customer experience and reliability, we provide expert consultation and reduce hassle by being the single point of contact inthe entire process. <span class="moretext">With the availability of online documentation, online payment and pick and drop off facility for your documents, you can trust us with your visa and prepare for your journey.</span>
												</p>
												<div class="my-3">
													<button type="button" class="btn btn-dark read_more">Read More</button>
												</div>
											</div>
											<div class="d-flex justify-content-between">
												<div class="blog_cate">
													<label>Categroy:</label>
													<span>Passport Photo</span>
												</div>
												<div class="blog_cate">
													<label>Written by:</label>
													<span>Admin</span>
												</div>
											</div>
										</div>
									</div>
								</a>
								<a href="#">
									<div class="blog_product">
										<div>
											<img src="{% static '/assets/images/events_opening1.png' %}" alt="events_opening" class="img-fluid">
										</div>
										<div class="blog_pd">
											<div class="d-flex block_date">
												<div class="blog_date mr-3">
													10/2017
												</div>
												<h5 class="blog_date_heading">
													US VISA APPLICATION GUIDELINES
												</h5>
											</div>
											<div class="blog_para">
												<p>
													StayConnect provides process support for visa for all countries across the globe. With a laser focus on customer experience and reliability, we provide expert consultation and reduce hassle by being the single point of contact inthe entire process. <span class="moretext">With the availability of online documentation, online payment and pick and drop off facility for your documents, you can trust us with your visa and prepare for your journey.</span>
												</p>
												<div class="my-3">
													<button type="button" class="btn btn-dark read_more">Read More</button>
												</div>
											</div>
											<div class="d-flex justify-content-between">
												<div class="blog_cate">
													<label>Categroy:</label>
													<span>Passport Photo</span>
												</div>
												<div class="blog_cate">
													<label>Written by:</label>
													<span>Admin</span>
												</div>
											</div>
										</div>
									</div>
								</a>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 col-12">
							<div class="row my-5">
								<a href="#">
									<div class="blog_product">
										<div>
											<img src="{% static '/assets/images/audi_banner.png' %}" alt="audi_banner" class="img-fluid">
										</div>
										<div class="blog_pd">
											<div class="d-flex block_date">
												<div class="blog_date mr-3">
													10/2017
												</div>
												<h5 class="blog_date_heading">
													US VISA APPLICATION GUIDELINES
												</h5>
											</div>
											<div class="blog_para">
												<p>
													StayConnect provides process support for visa for all countries across the globe. With a laser focus on customer experience and reliability, we provide expert consultation and reduce hassle by being the single point of contact inthe entire process. <span class="moretext">With the availability of online documentation, online payment and pick and drop off facility for your documents, you can trust us with your visa and prepare for your journey.</span>
												</p>
												<div class="my-3">
													<button type="button" class="btn btn-dark read_more">Read More</button>
												</div>
											</div>
											<div class="d-flex justify-content-between">
												<div class="blog_cate">
													<label>Categroy:</label>
													<span>Passport Photo</span>
												</div>
												<div class="blog_cate">
													<label>Written by:</label>
													<span>Admin</span>
												</div>
											</div>
										</div>
									</div>
								</a>
								<a href="#">
									<div class="blog_product">
										<div>
											<img src="{% static '/assets/images/events_opening3.png' %}" alt="events_opening" class="img-fluid">
										</div>
										<div class="blog_pd">
											<div class="d-flex block_date">
												<div class="blog_date mr-3">
													10/2017
												</div>
												<h5 class="blog_date_heading">
													US VISA APPLICATION GUIDELINES
												</h5>
											</div>
											<div class="blog_para">
												<p>
													StayConnect provides process support for visa for all countries across the globe. With a laser focus on customer experience and reliability, we provide expert consultation and reduce hassle by being the single point of contact inthe entire process. <span class="moretext">With the availability of online documentation, online payment and pick and drop off facility for your documents, you can trust us with your visa and prepare for your journey.</span>
												</p>
												<div class="my-3">
												<button type="button" class="btn btn-dark read_more">Read More</button>

												</div>
											</div>
											<div class="d-flex justify-content-between">
												<div class="blog_cate">
													<label>Categroy:</label>
													<span>Passport Photo</span>
												</div>
												<div class="blog_cate">
													<label>Written by:</label>
													<span>Admin</span>
												</div>
											</div>
										</div>
									</div>
								</a>
								<a href="#">
									<div class="blog_product">
										<div>
											<img src="{% static '/assets/images/contact_us_banner.png' %}" alt="contact_us_banner" class="img-fluid">
										</div>
										<div class="blog_pd">
											<div class="d-flex block_date">
												<div class="blog_date mr-3">
													10/2017
												</div>
												<h5 class="blog_date_heading">
													US VISA APPLICATION GUIDELINES
												</h5>
											</div>
											<div class="blog_para">
												<p>
													StayConnect provides process support for visa for all countries across the globe. With a laser focus on customer experience and reliability, we provide expert consultation and reduce hassle by being the single point of contact inthe entire process. <span class="moretext">With the availability of online documentation, online payment and pick and drop off facility for your documents, you can trust us with your visa and prepare for your journey.</span>
												</p>
												<div class="my-3">
													<button type="button" class="btn btn-dark read_more">Read More</button>
												</div>
											</div>
											<div class="d-flex justify-content-between">
												<div class="blog_cate">
													<label>Categroy:</label>
													<span>Passport Photo</span>
												</div>
												<div class="blog_cate">
													<label>Written by:</label>
													<span>Admin</span>
												</div>
											</div>
										</div>
									</div>
								</a>
							</div>
						</div>
						<div class="w-100 blog_pagi">
							<nav aria-label="Page navigation example">
								<ul class="pagination justify-content-end">
									<li class="page-item disabled">
										<a class="page-link" href="#" tabindex="-1">Previous</a>
									</li>
									<li class="page-item active"><a class="page-link" href="#">1</a></li>
									<li class="page-item"><a class="page-link" href="#">2</a></li>
									<li class="page-item"><a class="page-link" href="#">3</a></li>
									<li class="page-item">
										<a class="page-link" href="#">Next</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--Section End-->
	<!-- Scroll Page-->
	<div class="scroll_page">
		<a href="javascript:" id="return-to-top"><i class="fas fa-sort-up"></i></a>
	</div>
	{% endblock %}