{% extends 'base.html' %}
{% load static from staticfiles %}


	{% block content %}
	
	<section>
		<div class="login_page">
			<h1>Reset Password</h1>
			<div class="border-bottom my-3"></div>
		</div>
				{% if messages %}
						<ul class="messages">
    						{% for message in messages %}


    					<a href="http://127.0.0.1:8000/reset_password" class="del-msg">&times;</a>  {{ message }}
    					</ul>
    				
    					 
    						{% endfor %}
						
							{% endif %}

			
			<form action="{% url 'reset_password' code  %}" method="post" onsubmit="return matchPassword();" >
			{% csrf_token %}
		
		<div class="login_page_area">
			<div class="container-fluid">
				<div class="about_us_contain">
					<div class="row">
						<div class="offset-lg-3 offset-md-2 offset-sm-12"></div>

						<div class="col-lg-6 col-md-8 col-sm-12">
							<div class="login_sign_page">
								<div class="login-area">
									<span style="display: none; color: red;" id="mismatch_pass">Password does not match</span>
									<div class="login_details py-3">
										<label>Reset Password</label>

										<input type="password" class="form-control" id="password" name="password" minlength="6" placeholder="Enter New Password" required minlength="6">
									</div>
									<div class="login_details py-3">
										<input type="password" class="form-control" id="confirm_password" name="conf_password" minlength="6"  placeholder="Retype Password" required >
									</div>
									<div class="d-flex justify-content-center">
										<div class="login_achor_btn mt-3 mr-3" style="border: 0">
											<div class="login-brn">
												<!-- <a href="#">Submit</a> -->
												<button type="submit" class="btn btn-dark" id="submit" onclick="return matchPassword()" >Submit</button>
											</div>
										</div>
									</form>
										<div class="login_achor_btn mt-3" style="border: 0">
											<div class="login-brn">
												<!-- <a href="#">Cancel</a> -->
												<button type="button" class="btn btn-dark">Cancel</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="offset-lg-3 offset-md-2 offset-sm-12"></div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--Section End-->
	<!-- Scroll Page-->
	<div class="scroll_page">
		<a href="javascript:" id="return-to-top"><i class="fas fa-sort-up"></i></a>
	</div>
	{% endblock %}

