{% extends 'admin-base.html' %}
{% load static from staticfiles %}
{% block content %}

<div class="wrapper">

  <!-- Main Header -->
 
  <!-- Left side column. contains the logo and sidebar -->


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!-- <section class="content-header">
      <h1>
        Page Header
        <small>Optional description</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
      </ol>
    </section> -->

    <!-- Main content -->
    <section class="content container-fluid">
      <h1 class="text-center">Summary</h1>
    <!-- dashboard content -->
      <div class="tt_summary">
        <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Buyer<br>Total Y1</p>
        </div>
        <!-- summary 2 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Seller<br>Total Y1</p>
        </div>
        <!-- summary 3 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Regular Sales<br>Total Y1</p>
        </div>
        <!-- summary 4 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Overage Sales<br>Total Y1</p>
        </div>
        <!-- summary 5 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Ticketless<br>Post Total Y1</p>
        </div>
        <!-- summary 4 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">General Admission<br>Post Total Y1</p>
        </div>
        <!-- summary 4 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Assigned Seat<br>Post Total Y1</p>
        </div>
         <!-- summary 4 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Discount Code<br>Usage Total Y1</p>
        </div>
         <!-- summary 4 -->
        
         <!-- summary YTD Start-->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Buyer<br>Total YTD</p>
        </div>
        <!-- summary 2 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Seller<br>Total YTD</p>
        </div>
        <!-- summary 3 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Regular Sales<br>Total YTD</p>
        </div>
        <!-- summary 4 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Overage Sales<br>Total YTD</p>
        </div>
        <!-- summary 5 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Ticketless<br>Post Total YTD</p>
        </div>
        <!-- summary 4 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">General Admission<br>Post Total YTD</p>
        </div>
        <!-- summary 4 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Assigned Seat<br>Post Total YTD</p>
        </div>
         <!-- summary 4 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Discount Code<br>Usage Total YTD</p>
        </div>
         <!-- summary 4 -->
          <!-- summary YTD Start-->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Buyer<br>Total This Month</p>
        </div>
        <!-- summary 2 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Seller<br>Total This Month</p>
        </div>
        <!-- summary 3 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Regular Sales<br>Total This Month</p>
        </div>
        <!-- summary 4 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Overage Sales<br>Total This Month</p>
        </div>
        <!-- summary 5 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Ticketless<br>Post Total This Month</p>
        </div>
        <!-- summary 4 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">General Admission<br>Post Total This Month</p>
        </div>
        <!-- summary 4 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Assigned Seat<br>Post Total This Month</p>
        </div>
         <!-- summary 4 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Discount Code<br>Usage Total This Month</p>
        </div>
         <!-- summary 4 -->
       
         <!-- summary YTD Start-->
         


        <!-- summary list end -->
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  
  <!-- Control Sidebar -->

<!-- </div> -->
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 3 -->
{% endblock %}