{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/owl.theme.default.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<title>index</title>
</head>
<body>
{% include 'header.html' %}
{% include 'tickets-common.html' %}
{% block content %}
{% endblock %}
{% include 'footer.html' %}


</body>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/yearbook.js' %}"></script>
</body>
</html>